*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("cxeimwflyo881.webp");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 721px;
    height: 760px;
    left: 0px;
    top: 0px;
    justify-content: center;
    backdrop-filter: blur(1px) ;
    background: linear-gradient(90.23deg, rgba(0, 0, 0, 0.30) 0.19%, rgba(0, 0, 0, 0.38) 102.56%);
    box-shadow: 1px 50px 20px;
}
.logo{
    position: absolute;
    top:73px;
    left:30px
}
.star{
    position: absolute;
    left: 8px;
    top: 3px;
}
.form-values{
    height: 760px;
}
h1{
     padding: 150px 30px 30px 30px ;
    text-align: center;
    color: white;
    font-Size:64px;
}
.input-data{
    width: 521px;
    height: 80px;
    border: 1px solid rgb(255, 60, 0);
    border-radius: 38px;
    margin-top: 20px; 
    margin-left: 90px;
    background: transparent;
}
.input-data::placeholder{
    font-size: 24px;
    color: lightgray;
    padding-left: 20px;
}
button{
    width: 521px;
    height: 80px;
    border-radius: 38px;
    margin-top: 80px;
    margin-left: 90px;
    background-color: #FFCD2D;
    border: none;
    color: black;
    font-Size:28px;
    cursor: pointer;
}