*{
    margin: 0;
    padding: 0;
    font-family: "Cinzel";
}
.logo{
    position: absolute;
    top:50px;
    left:30px
}
.container{
    width: 1535px;
    height: 100vh;
    background:#FFE29B;
    display: flex;
    box-shadow: 10px 5px 40px 10px rgb(189, 201, 135) inset, -10px -5px 40px 10px rgb(174, 182, 132) inset;
}
.star{
    position: absolute;
    left: 17px;
    top: 3px;
}
.content{
    position: relative;
    left:300px;
    top:110px;
    width: 950px;
    height: 620px;
    background-color:#E8AF17;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    box-shadow: 10px 10px 40px 10px black inset, -10px -10px 40px 10px black inset;
}
.leo{
    position: absolute;
    width:200px;
    height: 200px;
    left: 680px;
    z-index: 3;
}
.photo{
    position: absolute;
    width:260px;
    right: 30px;
    top: 30px;
}
.name{
    font-size: 55px;
    margin-top:40px;
    margin-left: 50px;
    color:white ;
}
.details{
    width: 500px;
    height: 450px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    color: white;
}
.details tr{
    border: solid;
}
.details tr td{
    padding: 10px;
}
@media screen and (max-width:700px){
    .star{
        position: absolute;
        left: 17px;
        top: 3px;
        width:30px;
    }
    .logo{
        position: absolute;
        top:25px;
        left:23px;
        width: 90px;
    }
    .container{
        width: 500px;
        height: 765px;
        background:#FFE29B;
        display: flex;
        box-shadow: 10px 5px 40px 10px rgb(189, 201, 135) inset, -10px -5px 40px 10px rgb(174, 182, 132) inset;
    }
    .content{
        position: relative;
        left:30px;
        top:60px;
        width: 380px;
        height: 700px;
        background-color:#E8AF17;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    box-shadow: 10px 10px 40px 10px black inset, -10px -10px 40px 10px black inset;
    }
    .leo{
        position: absolute;
        width:80px;
        top:0px;
        height: 100px;
        left: 160px;
        z-index: 3;
    }
    .photo{
        position: absolute;
        width:180px;
        left: 100px;
        top: 30px;
    }
    .name{
        font-size: 35px;
        margin-top:230px;
        margin-left: 100px;
        color:white ;
    }
    .details{
        width: 300px;
        height: 300px;
        margin-top: 10px;
        margin-left: 65px;
        font-size: 17px;
        color: white;
    }
}