*{
    margin: 0;
    padding: 0;
}
.wrapper{
    position: absolute;
    width: 721px;
    height: 1024px;
    left: 0px;
    top: 0px;
}
.wrapper{
    border: 1px solid black;
    justify-content: center;
    display: flex;
}
.form-values{
    border: solid;
    height: 800px;
    margin-top: 150px;
}
h1{
    padding: 60px 30px 30px 30px ;
    text-align: center;
}
.input-data{
    width: 521px;
    height: 80px;
    border: 1px solid rgb(255, 60, 0);
    border-radius: 38px;
    margin-top: 20px;
    margin-left: 90px;
}
.input-data::placeholder{
    font-size: 24px;
    color: lightgray;
    padding-left: 20px;
}
button{
    width: 521px;
    height: 80px;
    border-radius: 38px;
    margin-top: 80px;
    margin-left: 90px;
    background-color: #FFCD2D;
    border: none;
}